<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @document.user.name %>
</p>
<div id="slides">
<%= render @document.slides %>
</div>
<div id="comments">
<%= render @document.comments.order(created_at: :desc) %>
</div>
<%= render 'comments/form' %>
<%= link_to 'Back', documents_path %>
